body {
    font-family: "PT Sans", Arial, Helvetica, sans-serif
}

.markdown[class] {
    h1, h2, h3 {
        font-family: "PT Sans Caption", Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}

.book-brand > a {
    font-family: "PT Sans Caption", Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #209fa1;
    background: linear-gradient(45deg, #209fa1 0%, #24e4a4 100%);
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.install-shortcode {
    padding-bottom: 1.5em;
    border-bottom: 4px dotted #209fa1;
}

.install-shortcode h4 {
    margin: 0 0 1em;
}

.book-footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
